# Large/local assets
pretrained/
datasets/
*.ckpt
*.pth

# Result
outputs/
test_results/
*.png

# Caches / logs
lightning_logs/
wandb/
*.log
*.tmp
__pycache__/
*.pyc

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
